/*

NOTE: THIS IS NOT MINE

[ A History of Cydia Stylesheets ]
         [ by LoganDark ]         
Note: Dates are approximate and
may not be accurate. Do not depend
on this for exact dates of changes
because this may or may not be
accurate. You have been warned.

Creation     >  Sep 1, 2008:
https://cydia.saurik.com/menes/style.css

Sep 1, 2008  > May 15, 2013:
https://cache.cydia.saurik.com/menes/style.css

May 15, 2013 >  Nov 6, 2013:
https://cydia.saurik.com/cytyle/style.css

Nov 6, 2013  > May 28, 2014:
https://cydia.saurik.com/cytyle/style-0a1ea2fa086b31043a182ef6e687d52d45831ea2.css

May 28, 2014 >  Feb 4, 2015:
https://cydia.saurik.com/cytyle/style-3163da6b7950852a03d31ea77735f4e1d2ba6699.css

Feb 4, 2015  > Feb 17, 2015:
https://cydia.saurik.com/cytyle/style-c1ff8b8b33e0b3de6657c943de001d1aff84d634.css

Feb 17, 2015 > Mar 16, 2015:
https://cydia.saurik.com/cytyle/style-544525394dbceaf72540236a6b5edce899482bda.css

Mar 16, 2015 > Jan 14, 2016:
https://cydia.saurik.com/cytyle/style-05ba165f7aa2754c8a2fd90363b4ce69c668fffb.css

Jan 14, 2016 > Jan 24, 2016:
https://cydia.saurik.com/cytyle/style-601956fee7c30914df7cc3fb2d28d07b81a9136a.css

Jan 24, 2016 >  Apr 9, 2015:
https://cydia.saurik.com/cytyle/style-814ed94d029255e832932322f7cc9d7fb2de0071.css

Apr 9, 2015  >      Present:
https://cydia.saurik.com/cytyle/style-814ed94d029255e832932322f7cc9d7fb2de0071.css

*/

@import url(https://cydia.saurik.com/cytyle/style-3163da6b7950852a03d31ea77735f4e1d2ba6699.css);